<section data-ng-controller="HomeController">
	<br/>
	<div ng-show="!discoverNow" class="jumbotron discover">
		<button ng-model="discoverNow" ng-click="discover()" value="false" class="btn btn-default btn-lg">
			<span class="glyphicon glyphicon-search"></span><h2>Discover</h2>
		</button>
	</div>
	<input ng-show="discoverNow" data-ng-model="input" class="form-control input-lg" placeholder="Search">
    <vis-network ng-show="discoverNow" ng-model="network_data" options="network_options" on-doubleclick="onDoubleclick" on-mouseover="onMouseover" class="previewNetwork">
    </vis-network>
</section>
