<section data-ng-controller="DevicesController">
    <div class="page-header">
        <h1>Add new Device</h1>
    </div>
    <div class="col-md-12">
        <form name="deviceForm" class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error' : deviceForm.sysName.$dirty && deviceForm.sysName.$invalid}">
                    <label class="control-label" for="sysName">System Name</label>
                    <div class="controls">
                        <input name="sysName" type="text" data-ng-model="sysName" id="sysName" class="form-control" placeholder="System Name" required>
                    </div>
                    <div ng-show="submitted && deviceForm.sysName.$invalid" class="help-block">
                        <p ng-show="deviceForm.sysName.$error.required" class="text-danger">System Name is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : deviceForm.sysDescr.$dirty && deviceForm.sysDescr.$invalid}">
                    <label class="control-label" for="sysDescr">System Description</label>
                    <div class="controls">
                        <input name="sysDescr" type="text" data-ng-model="sysDescr" id="sysDescr" class="form-control" placeholder="System Description" required>
                    </div>
                    <div ng-show="submitted && deviceForm.sysDescr.$invalid" class="help-block">
                        <p ng-show="deviceForm.sysDescr.$error.required" class="text-danger">System Description is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : deviceForm.leadIpAddress.type.$dirty && deviceForm.leadIpAddress.type.$invalid}">
                    <label class="control-label" for="leadIpAddress.type">IP Address Type</label>
                    <div class="controls">
                        <input name="leadIpAddress.type" type="text" data-ng-model="leadIpAddress.type" id="leadIpAddress.type" class="form-control" placeholder="IP Address Type" required>
                    </div>
                    <div ng-show="submitted && deviceForm.leadIpAddress.type.$invalid" class="help-block">
                        <p ng-show="deviceForm.leadIpAddress.type.$error.required" class="text-danger">IP Address Type is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : deviceForm.leadIpAddress.ip.$dirty && deviceForm.leadIpAddress.ip.$invalid}">
                    <label class="control-label" for="leadIpAddress.ip">IP Address</label>
                    <div class="controls">
                        <input name="leadIpAddress.ip" ip="text" data-ng-model="leadIpAddress.ip" id="leadIpAddress.ip" class="form-control" placeholder="IP Address" required>
                    </div>
                    <div ng-show="submitted && deviceForm.leadIpAddress.ip.$invalid" class="help-block">
                        <p ng-show="deviceForm.leadIpAddress.ip.$error.required" class="text-danger">IP Address is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : deviceForm.deviceType.$dirty && deviceForm.deviceType.$invalid}">
                    <label class="control-label" for="deviceType">Device Type</label>
                    <div class="controls">
                        <input name="deviceType" ip="text" data-ng-model="deviceType" id="deviceType" class="form-control" placeholder="Device Type" required>
                    </div>
                    <div ng-show="submitted && deviceForm.deviceType.$invalid" class="help-block">
                        <p ng-show="deviceForm.deviceType.$error.required" class="text-danger">Device Type is required</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : deviceForm.version.$dirty && deviceForm.version.$invalid}">
                    <label class="control-label" for="version">Softare Version</label>
                    <div class="controls">
                        <input name="version" ip="text" data-ng-model="version" id="version" class="form-control" placeholder="Software Version" required>
                    </div>
                    <div ng-show="submitted && deviceForm.version.$invalid" class="help-block">
                        <p ng-show="deviceForm.version.$error.required" class="text-danger">Software Version is required</p>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input data-ng-model="manuallyAdded" type="checkbox"> Manually Added
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input data-ng-model="reachable" type="checkbox"> Reachable
                    </label>
                </div>
                <label class="control-label" for="interafaceList">Links</label>
                <div class="table-responsive">
                    <table class='table table-bordered table-striped'>
                        <thead>
                            <tr>
                                <th>Alive</th>
                                <th>Type</th>
                                <th>IP Address</th>
                                <th>Netmask</th>
                                <th>Interface Index</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped">
                            <tr ng-repeat="interface in device.interfaceList.interface">
                                <td data-ng-model="interface.alive">
                                    <div contenteditable>True</div>
                                </td>
                                <td data-ng-model="interface.ipAddress.type">
                                    <div contenteditable>IPv4</div>
                                </td>
                                <td data-ng-model="interface.ipAddress.ip">
                                    <div contenteditable>0.0.0.0</div>
                                </td>
                                <td data-ng-model="interface.netmask">
                                    <div contenteditable>255.255.255.0</div>
                                </td>
                                <td data-ng-model="interface.ifIndex">
                                    <div contenteditable>10001</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
