<section data-ng-controller="DevicesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Devices</h1>
    </div>
    <input type="text" data-ng-model="searchText" class="form-control input-lg" placeholder="Search">
    <br/>
    <div class="table-responsive">
        <table class='table table-bordered table-striped'>
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>Alive</th>
                    <th>IP Address</th>
                    <th>System Name</th>
                    <th>Device Type</th>
                    <th>Software Version</th>
                    <th>Reachable</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                <tr data-ng-repeat="device in devices | orderBy: 'leadIpAddress.ip' | filter:searchText">
                    <td><a data-ng-href="#!/devices/{{device._id}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td data-ng-bind="device.alive"></td>
                    <td data-ng-bind="device.leadIpAddress.ip"></td>
                    <td data-ng-bind="device.sysName"></td>
                    <td data-ng-bind="device.deviceType"></td>
                    <td data-ng-bind="device.version"></td>
                    <td data-ng-bind="device.reachable"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="devices.$resolved && !devices.length">
        No devices yet, why don't you <a href="/#!/devices/create">add one</a>?
    </div>
</section>
