<section data-ng-controller="LinksController" data-ng-init="toViewLink()">
	<div class="page-header">
		<h1 data-ng-bind="link.name"></h1>
	</div>

	<div class="col-md-12">

		<form novalidate>
			<formly-form model="link" fields="formFields">
			</formly-form>
		</form>

		<hr/>
		<div data-ng-show="((authentication.user) && (authentication.user._id == link.user._id))">
			<a class="btn btn-success" href="/#!/links/{{link._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i> Edit
			</a>
			<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove()" item="link">
				<i class="glyphicon glyphicon-remove-circle"></i> Delete
			</a>
			<a class="btn btn-primary" href="/#!/links">
				<i class="glyphicon glyphicon-list"></i> List Links
			</a>
		</div>

	</div>

</section>
